/* #region RESET */
* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}
/* #endregion RESET */
:root{
    --main-ligth-green: #adff2f;
    --main-dark-green: #096a09;
    --main-red: #ff0000;
}

body{
    background-color: var(--main-ligth-green);
    font-family: "Sniglet", system-ui;
    color: var(--main-dark-green);

}

#timer-container{    
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    & img{
        width: calc(200px + 10vw);
    }
}

#input-group{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    & > div{
        width: 60px;
    }
    & input{
        display: block;
        margin: 0 auto;
        border-radius: 20px;
        height: 40px;
        width: 40px;
        padding: 10px;
        font-size: large;
        background-color: var(--main-red);
        color: var(--main-ligth-green);
        text-align: center;
        box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
    }
    & label{
        text-align: center;
        display: block;
    }
}

#button-group{
    margin: 0 auto;
    width: fit-content;
    & [id*="btn"]{
        font-family: inherit;
        color: var(--main-ligth-green);
        background-color: var(--main-dark-green);
        height: calc(20px + 1vw);
        width: calc(70px + 1vw);
        border-radius: 10px;
        box-shadow: 0px 1px 1px black;
        &:hover{
            background-color: firebrick;
        }
        &:focus{
            animation: wiggle 0.5s;
        }
        &:disabled{
            background-color: color-mix(in srgb, var(--main-dark-green) 70%, black 30%);
            color: var(--main-dark-green);
        }
    }
}

@keyframes wiggle {
    25%{
        transform: scale(0.8, 1.3);
    }
    50%{
        transform: scale(1.1, 0.7);
    }
}